.App {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.InfoCard {
  border: none;
  border-radius: 22px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: hsl(0, 1%, 26%);
  gap: 20px;
  text-align: center;
}

.InfoCard h2 {
  margin-top: 1px;
  color: hsl(180, 11%, 2%);
  font-size: 2rem;
}

.inputFields {
  padding: 8px;
  margin: 5px;
  border-radius: 12px;
  border: none;
  color: hsl(228, 15%, 94%);
  background-color: hsla(0, 0%, 40%, 0.547);
  text-align: left;
  font-size: 1.2rem;
}

.editMode {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editMode label {
  display: block;
  margin-bottom: 4px;
}

.editMode input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.viewMode {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.submitButton {
  border-radius: 22px;
  font-size: 0.9rem;
  margin-top: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.editButton {
  border-radius: 22px;
  font-size: 0.9rem;
  margin-top: 5px;
  background-color: hsl(0, 84%, 65%);
  color: white;
  border: none;
  cursor: pointer;
}

.viewDetails {
  padding: 8px;
  margin: 5px;
  border-radius: 12px;
  border: none;
  color: hsl(228, 15%, 94%);
  background-color: hsla(0, 0%, 40%, 0.547);
  text-align: left;
  font-size: 1.2rem;
}
